SUPABASE_SERVICE_KEY=
SUPABASE_URL=https://kwftlkfvtglnugxsyjci.supabase.co
SUPABASE_ANON_KEY=
OTP_SIGNING_SECRET=
SLACK_OTP_FUNCTION_URL=https://kwftlkfvtglnugxsyjci.supabase.co/functions/v1/b2b-slack-otp-v2
SLACK_DEFAULT_EMAIL=
